{
  "plugins": [
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "cleanupIDs": false
            }
          ]
        }
      }
    ],
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["module-resolver", {
        "extensions": [".js", ".ios.js", ".android.js", "*.jsx", "*.ts", "*.tsx"],
        "alias": {
          "components": "./components",
          "GraphQL": "./GraphQL",
          "types": "./types",
          "stores": "./stores",
          "lib": "./lib"
        }
      }]
  ],
  "presets": ["next/babel"],
  "ignore": []
}
